header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cart-table th {
    background-color: #333;
    color: white;
}

.cart-table img {
    max-width: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    color: #fff; 
    text-decoration: none; 
}
